@import "../../scss/index.scss";

.artists {
    margin: 50px;

    > h1 {
        border-bottom: 1px solid $border-grey-light;
        margin-bottom: 50px;
        padding-bottom: 10px;
        font-size: 40px;
    }

    &__item {
        text-align: center;
        margin-bottom: 30px;

        .avatar {
            height: 150px;
            width: 150px;
            border-radius: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin: 0 auto;

            // &:hover {
            //     filter: opacity(0.5);
            // }
        }

        h3 {
            color: $font-grey;
            &:hover{
                color: $font-light;
            }
        }
    }
}