@import "../../../scss/index.scss";

.avatar-artist {
    width: 180px;
    height: 180px;
    position: relative;
    margin: 0;
    align-self: center;
    top: -150px;
    left: 75%;
    border-radius: 100%;
    border: solid 2px $background-light;

}