@import '../../scss/index.scss';

.player {
    position: relative;
    height: 100%;
    background-color: $background-grey-dark;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .ui.grid {
        width: 100%;
        margin: 0;
    }

    .left {
        display: flex !important;
        align-items: center;
        font-size: $defaultFountSize;
        padding-top: 0 !important;
        padding-bottom: 0 !important;
        color: $font-light;

        img {
            width: 60px;
            height: 60px;
            margin-right: 20px;
        }
    }

    .center {
        display: flex !important;
        align-items: center;
        flex-direction: column;

        .controls {
            margin-bottom: 10px;

            i {
                font-size: 25px !important;
                margin: 0 !important;
                color: $font-light;
                &:hover {
                    cursor: pointer;
                }
            }
        }

        .ui.progress {
            width: 100%;
            margin: 0;
            background-color: $font-grey-dark;
            .bar {
                min-width: 0;
                background-color: $font-light;
                .progress{
                    display: none;
                }
            }
        }

    }

    .right {
        display: flex !important;
        align-items: center;
        justify-content: flex-end;

        .ui.input {
            i {
                color: $font-grey;
                margin-right: 15px;
            }
            
            input[type='range'] {
                display: block;
                width: 120px;
                background-color: transparent;
                padding-right: 0;
                padding-left: 0;
                padding-top: 17px;
            }

            
            input[type='range']:focus, 
            input[type='range']:active,
            input[type='range']
            {
                outline: none;
                border-style: none;
            }
            
            input[type='range'],
            input[type='range']::-webkit-slider-runnable-track,
            input[type='range']::-webkit-slider-thumb {
                -webkit-appearance: none;
            }
            //Bola
            input[type=range]::-webkit-slider-thumb {
                background-color: $font-light;
                width: 14px;
                height: 14px;
                // border: 3px solid #333;
                border-radius: 50%;
                margin-top: -7px
            }
            
            input[type=range]::-moz-range-thumb {
                background-color: #333;
                width: 15px;
                height: 15px;
                // border: 3px solid #333;
                border-radius: 50%;
            }
            
            input[type=range]::-ms-thumb {
                background-color: #777;
                width: 20px;
                height: 20px;
                // border: 2px solid #333;
                border-radius: 50%;
            }
            
            input[type=range]::-webkit-slider-runnable-track {
                background-color: $font-grey;
                height: 2px;
            }
            
            input[type=range]:focus::-webkit-slider-runnable-track {
                outline: none;
            }
            
            input[type=range]::-moz-range-track {
                background-color: #777;
                height: 3px;
            }
            
            input[type=range]::-ms-track {
                background-color: #777;
                height: 3px;
            }
            
            input[type=range]::-ms-fill-lower {
                background-color: HotPink
            }
            
            input[type=range]::-ms-fill-upper {
                background-color: black;
            }
        } 
    }
}