@import 'scss/index.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Toastify {
  font-weight: bold;
  //Hace que el toast sea de largo como la ventana y pegado arriba
  .Toastify__toast-container--top-center {
    width: 100%;
    top: 0;
    padding: 0;
    margin: 0;

    .Toastify__toast--success {
      background-color: $background-primary;
    }
    //Alinea la X al medio
    .Toastify__close-button{
      align-self: center;
    }
  }
}

.ui.form {
  .field {
    .input {
      input {
        background-color: $background-grey;
        font-size: 16px;
        color: $font-grey;
        border: 0;
        
        &:hover,
        &:active,
        &:focus
        &::after {
          background-color: $background-grey-light-hover !important;
          border: 0;
          color: $font-light;
        }

        
      }

      .eye {
        color: $font-light;
      }
      .field {
        .input{
          -webkit-autofill {
            border: none !important;
            box-shadow: none !important;
            border-color: none !important;
        }
      }
      }
    }
  }
  .ui.button {
    width: 100%;
    margin-top: 20px;
    border-radius: 50px;
    color: $font-dark;
    font-weight: bold;
    font-size: 16px;

    &:hover {
      background-color: $primary-blue-hover !important;
      color: $font-light !important;
    }
  }

  .ui.dropdown {
    background-color: $background-grey;
    color: $font-light;
    border: 0;

    .search {
      color: $font-light;
    }

    .icon{
      color: $font-light;
      font-size: 14px;
    }

    .menu {
      background-color: $background-grey-dark;
      border: 0;

      .item{
        border: none;
        color: $font-light;
      }
      .item:hover{
        background-color: $background-grey;
      }

      .message {
        color: $font-light;
      }
    }

  }
}