$primary-color: #1db954;
$primary-color-hover: #1ed75f;
$primary-blue: #3a5998;
$primary-blue-hover: #265cc7;

$font-light: #fff;
$font-grey: #9e9e9e;
$font-dark: #000;


$background-primary: $primary-color;
$background-light: #fff;
$background-grey-light: #d6d6d6;

$background-grey: #2d2d2d;
$background-grey-dark: #242528;
$background-grey-dark-light: #17171a;
$background-dark: #000;

$background-grey-light-hover: #3b3b3b;
$background-grey-hover: #3c3c3c;

$danger: #f00;